<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mettre.modulefriend.mapper.VisitorMapper">
    <resultMap id="BaseResultMap" type="com.mettre.modulefriend.pojo.Visitor">
        <id column="visitor_id" property="visitorId" jdbcType="BIGINT"/>
        <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="head_avatar" property="headAvatar" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="visitors_uesr" property="visitorsUser" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    wc_visitor.visitor_id, wc_visitor.creation_time, wc_visitor.user_id,wc_user.user_name,head_avatar
  </sql>

    <sql id="Base_Column">
    visitor_id, creation_time,user_id,visitors_uesr
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column"/>
        from wc_visitor
        where visitor_id = #{visitorId,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wc_visitor
    where visitor_id = #{visitorId,jdbcType=BIGINT}
  </delete>

    <!--删除空间访问某个人记录传入访问id-->
    <delete id="deleteAllVisitorFromVisitorId" parameterType="java.lang.Long">
    delete from wc_visitor
    where user_id =
    (select t.user_id from
    (select user_id from wc_visitor where visitor_id = #{visitorId,jdbcType=BIGINT}) as t)
    and visitors_uesr =
    (select n.visitors_uesr from
    (select visitors_uesr from wc_visitor where visitor_id = #{visitorId,jdbcType=BIGINT}) as n)
  </delete>

    <!--删除空间访问某个人记录传入两个用户id-->
    <delete id="deleteAllVisitor" parameterType="java.lang.String">
    delete from wc_visitor
    where user_id = #{userId,jdbcType=VARCHAR}
    and visitors_uesr = #{visitorsUser,jdbcType=VARCHAR}
  </delete>

    <!--插入访客记录-->
    <insert id="insert" parameterType="com.mettre.modulefriend.pojo.Visitor">
    insert into wc_visitor (visitor_id, creation_time, user_id, 
      visitors_uesr)
    values (#{visitorId,jdbcType=BIGINT}, #{creationTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR},
      #{visitorsUser,jdbcType=VARCHAR})
  </insert>

    <insert id="insertSelective" parameterType="com.mettre.modulefriend.pojo.Visitor">
        insert into wc_visitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="visitorId != null">
                visitor_id,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="visitorsUser != null">
                visitors_uesr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="visitorId != null">
                #{visitorId,jdbcType=BIGINT},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="visitorsUser != null">
                #{visitorsUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.mettre.modulefriend.pojo.Visitor">
        update wc_visitor
        <set>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="visitorsUser != null">
                visitors_uesr = #{visitorsUser,jdbcType=VARCHAR},
            </if>
        </set>
        where visitor_id = #{visitorId,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.mettre.modulefriend.pojo.Visitor">
    update wc_visitor
    set creation_time = #{creationTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR},
      visitors_uesr = #{visitorsUser,jdbcType=VARCHAR}
    where visitor_id = #{visitorId,jdbcType=BIGINT}
  </update>

    <!--我的空间访问列表-->
    <select id="myVisitorPageVo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        (SELECT * FROM wc_visitor where visitors_uesr = #{visitorsUser,jdbcType=VARCHAR} order by creation_time desc) as
        wc_visitor
        left join wc_user
        on wc_visitor.user_id = wc_user.user_id
        group by
        wc_visitor.user_id
        order by wc_visitor.creation_time desc
    </select>

</mapper>