<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mettre.moduleclient.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.mettre.modulecommon.pojo.User">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="head_avatar" jdbcType="VARCHAR" property="headAvatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="background_wall" jdbcType="VARCHAR" property="backgroundWall"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <resultMap id="BaseResultMapExceptPassword" type="com.mettre.modulecommon.pojo.User">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="head_avatar" jdbcType="VARCHAR" property="headAvatar"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="background_wall" jdbcType="VARCHAR" property="backgroundWall"/>
        <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
     user_id, user_name, signature, gender, head_avatar, password, phone, city, age, background_wall,
    creation_time, update_time
  </sql>

    <sql id="Base_Column_List_except_password">
     user_id, user_name, signature, gender, head_avatar,phone, city, age, background_wall,
    creation_time, update_time
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wc_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wc_user
        where phone = #{phone,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from wc_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="com.mettre.modulecommon.pojo.User">
    insert into wc_user (user_id, user_name, signature, 
      gender, head_avatar, password, 
      phone, city, age, background_wall, 
      creation_time, update_time
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{headAvatar,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{backgroundWall,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.mettre.modulecommon.pojo.User">
        insert into wc_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="headAvatar != null">
                head_avatar,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="backgroundWall != null">
                background_wall,
            </if>
            <if test="creationTime != null">
                creation_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="headAvatar != null">
                #{headAvatar,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="backgroundWall != null">
                #{backgroundWall,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.mettre.modulecommon.pojo.User">
        update wc_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                signature = #{signature,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="headAvatar != null">
                head_avatar = #{headAvatar,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="backgroundWall != null">
                background_wall = #{backgroundWall,jdbcType=VARCHAR},
            </if>
            <if test="creationTime != null">
                creation_time = #{creationTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>


    <update id="updateByPrimaryKey" parameterType="com.mettre.modulecommon.pojo.User">
    update wc_user
    set user_name = #{userName,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      head_avatar = #{headAvatar,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      background_wall = #{backgroundWall,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

    <!--忘记密码-->
    <update id="forgetPassword" parameterType="com.mettre.modulecommon.pojo.User">
    update wc_user
    set password = #{password,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>

    <!--修改密码-->
    <update id="modifyPassword" parameterType="com.mettre.modulecommon.pojo.User">
    update wc_user
    set password = #{password,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

    <!--根据手机号搜索用户-->
    <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from wc_user
        where phone = #{phone,jdbcType=VARCHAR}
    </select>

    <!--手机号模糊搜索-->
    <select id="searchByPhone" resultMap="BaseResultMapExceptPassword" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List_except_password"/>
        from wc_user
        where phone like concat('%',#{phoneStr,jdbcType=VARCHAR},'%')
    </select>

    <!--手机号模糊搜索-->
    <select id="searchByPhoneByPage" resultMap="BaseResultMapExceptPassword" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List_except_password"/>
        from wc_user
        where phone like concat('%',#{selectByPhoneVM.phoneStr,jdbcType=VARCHAR},'%')
    </select>
</mapper>